* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0px;
    border-bottom: 1px solid #bebebe;
    font-size: 0.9rem;
    /*     box-shadow: 0px 1px 3px #232323;
 */
    /*     background-color: aquamarine;
 */
}

.box-start {
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
    gap: 10px
}

nav a {
    color: #0e0e0e;
    font-weight: bold;
}

nav a:hover {
    color: chartreuse;
}

.box-end {
    display: flex;
    align-items: center;
    gap: 20px;

}

.box-end a {
    color: black;
} 

.btn-inicio {
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.btn-unete{
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
    color: white!important;
}

main{
    display: flex;
}

.main-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 618px;
    width: 50%;
    background-color: rgb(2, 61, 42);
    color: white;
}

.main-end{
    flex-grow: 1;
    background-color: rgb(226, 226, 226);
}

.auth-buttons-main{
    display: flex;
    gap: 10px;
}

.auth-buttons-main .btn-inicio{
    filter:invert()
}

.auth-buttons-main .btn-unete{
    filter: invert();
}

.products{
    display: flex;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-basis: 25%;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

/* body {
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    
    background-color: blueviolet;
    border: 2px solid rgb(140, 42, 42);
    width: 600px;
    height: 500px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
}
.tres{
    background-color: tomato;
    flex-shrink: 3;
} */